.container
  %h1.text-center
    Password Reset Instructions
  .formbox
    .margin-space.text-center
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
        = devise_error_messages!
        .row.form-group
          = f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "Email"
        .row.form-group
          = f.submit "Send New Password Email", class: "btn btn-block btn-lg btn-warning margin-space"
      = render "devise/shared/links"