<h1 class="text-center">SoundtrackShare.io</h1>
<div class="container">
<header class="text-center col-sm-offset-2 col-sm-8 col-xs-12">
  <p>A soundtrack (OST) music discovery site that features curated soundtrack playlists categorized by mood and community posted tracks with granular tagging. <br>
  <% if current_user %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to share!
  <% end %>
  </p>
  <p>Use the <%= link_to "advanced search", search_path %> for community submissions, or click on one of the mood categories below to find curated playlists.</p>
</header>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="text-center">
      <%= link_to "Share Track", new_post_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">

  <div class="col-md-offset-1 col-md-10">
    
    <%= link_to tag_path(name: "adventure"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #2ecc71;">Adventure</div>
    <% end %>
    <%= link_to tag_path(name: "sadness"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #3498db;">Sadness</div>
    <% end %>
    <%= link_to tag_path(name: "epic"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #f1c40f;">Epic</div>
    <% end %>
    <%= link_to tag_path(name: "battle"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #e74c3c;">Battle</div>
    <% end %>
    
    <%= link_to tag_path(name: "inspirational"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #27ae60;">Inspirational</div>
    <% end %>
    <%= link_to tag_path(name: "bittersweet"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #2980b9;">Bittersweet</div>
    <% end %>
    <%= link_to tag_path(name: "excitement"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #f39c12;">Excitement</div>
    <% end %>
    <%= link_to tag_path(name: "dramatic"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #c0392b;">Dramatic</div>
    <% end %>

    <%= link_to tag_path(name: "possibilities"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #30a14e;">Possibilities</div>
    <% end %>
    <%= link_to tag_path(name: "melancholy"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #348fad;">Melancholy</div>
    <% end %>
    <%= link_to tag_path(name: "hope"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #e67e22;">Hope</div>
    <% end %>
    <%= link_to tag_path(name: "confidence"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #b3363c;">Confidence</div>
    <% end %>

    <%= link_to tag_path(name: "happy"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #158f2e;">Happy</div>
    <% end %>
    <%= link_to tag_path(name: "haunting"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #17839c;">Haunting</div>
    <% end %>
    <%= link_to tag_path(name: "nostalgia"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #d35400;">Nostalgia</div>
    <% end %>
    <%= link_to tag_path(name: "romance"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #a11828;">Romance</div>
    <% end %>

    <%= link_to tag_path(name: "exploring"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #2ecc71;">Exploring</div>
    <% end %>
    <%= link_to tag_path(name: "mysterious"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #3498db;">Mysterious</div>
    <% end %>
    <%= link_to tag_path(name: "tension"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #f1c40f;">Tension</div>
    <% end %>
    <%= link_to tag_path(name: "evil"), class: "white-text" do %>
      <div class="mood-button" style="background-color: #e74c3c;">Evil</div>
    <% end %>

  </div>
</div>
