<div class="span2"></div>
<div class="text-center span8">
<header>
  <h1>SoundtrackShare.io</h1>
  <p>A soundtrack (OST) music discovery site that features curated soundtrack playlists categorized by mood and community posted tracks with granular tagging. 
  <% if current_user %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to share!
  <% end %>
  </p>
  <p>Use the <%= link_to "advanced search", search_path %> for community submissions, or click on one of the mood categories below to find curated playlists.</p>
  <%= link_to "Share Track", new_post_path, class: 'btn btn-large btn-block' %>
</header>
<section>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>
</div>