
<h1>Results</h1>
<%= form_tag("/results", method: "get") do %>
  <%= label_tag(:tags, "Tag Search:") %>
  <%= text_field_tag(:tags) %>
  <p>
  Match <%= select_tag(:filter, options_for_select(
  [['All', true], ['Any', false]])) %> of the Selected Tags
</p>
  <%= submit_tag("Search") %>
<% end %>

<%= render @posts %>
<div class="text-center" ><%= will_paginate @posts %> </div>