.container
  %h1.text-center Search
  .formbox
    %p.text-center
      Type any number of tags from any of the three menus below to find tracks labelled with those tags.
    .form-group
      = form_tag("/results", method: "get") do
        .row
          = text_field_tag(:tags, nil, class: "form-control input-lg", placeholder: "Tags (comma-separated)")
        %p.text-center.margin-space
          Match #{select_tag(:filter, options_for_select([['Any', false], ['All', true]]))} of the Selected Tags
        .row
          = submit_tag("Search", class: "btn btn-block btn-primary btn-lg")
        .row
          %button.btn.btn-block.btn-default.btn-lg.margin-bottom-2{type: "button"}
            = link_to "Back to the Home Page", root_path
  %div{style: "float: left;"}
    %h2.text-center Moods
    .tagbox.margin-bottom-2
      %p
        %span.tag Adventure
        %span.tag Ambient
        %span.tag Angry
        %span.tag Battle
        %span.tag Bittersweet
        %span.tag Building
        %span.tag Celebration
        %span.tag Comedic
        %span.tag Confidence
        %span.tag Dramatic
        %span.tag Epic
        %span.tag Evil
        %span.tag Excitement
        %span.tag Exploring
        %span.tag Ending
        %span.tag Fantasy
        %span.tag Flying
        %span.tag Happy
        %span.tag Haunting
        %span.tag Hope
        %span.tag Inspirational
        %span.tag Kabuki
        %span.tag Medieval
        %span.tag Melancholy
        %span.tag Mysterious
        %span.tag Nostalgia
        %span.tag Possibilities
        %span.tag Preparing
        %span.tag Relaxed
        %span.tag Romance
        %span.tag Sadness
        %span.tag Sci-Fi
        %span.tag Space
        %span.tag Sports
        %span.tag Tension
        %span.tag Tribal
        %span.tag Victorian
        %span.tag Village
        %span.tag Western
    %h2.text-center Featured Instrument / Sound
    .tagbox.margin-bottom-2
      %p
        %span.tag 8-bit
        %span.tag Accordion
        %span.tag Acoustic Guitar
        %span.tag Brass
        %span.tag Choir
        %span.tag Children's Choir
        %span.tag Distortion
        %span.tag Drums
        %span.tag Electric
        %span.tag Electric Guitar
        %span.tag Female Vocal
        %span.tag Flute
        %span.tag Forging
        %span.tag Garage
        %span.tag Horn
        %span.tag Male Vocal
        %span.tag Marimba
        %span.tag Strings
        %span.tag Trumpet
        %span.tag Violin
    %h2.text-center Tempo / Rhythm
    .tagbox.margin-bottom-2
      %p
        %span.tag Anthem
        %span.tag Driving
        %span.tag Galloping
        %span.tag Lilting
        %span.tag March
        %span.tag Offbeat
        %span.tag Punchy
        %span.tag Thrash