.container
  %h1.text-center Search
  .formbox
    %p.text-center
      Type any number of tags from any of the three menus below to find tracks labelled with those tags.
    .form-group
      = form_tag("/results", method: "get") do
        .row
          = text_field_tag(:tags, nil, class: "form-control input-lg", placeholder: "Tags (comma-separated)")
        %p.text-center.margin-space
          Match #{select_tag(:filter, options_for_select([['Any', false], ['All', true]]))} of the Selected Tags
        .row
          = submit_tag("Search", class: "btn btn-block btn-primary btn-lg")
        .row
          %button.btn.btn-block.btn-default.btn-lg.margin-bottom-2{type: "button"}
            = link_to "Back to the Home Page", root_path
  = render "posts/tagmenu"