- if @tag
  .container
    %h1.text-center= params[:name].capitalize
    .row
      .videobox.text-center
        %small
          = params[:name].capitalize
          Playlist
        %iframe{ allowFullScreen: "true", allowscriptaccess: "always", frameborder: "0", height:"430", src: "http://www.youtube.com/embed/#{@playlist}", title: "YouTube video player", width: "640" }
        .row
          %h4
            %a{href: "http://www.youtube.com/watch?v=#{@playlistlink}"} Can't See The Playlist?  Try This Playlist Link
    .row
      .text-center.formbox
        = link_to "Share Track", new_post_path, class: "margin-space btn btn-success btn-lg btn-block", id: "share-button"
      .text-center.formbox
        %h4 Community Submissions
    = render @posts
    .text-center
      = will_paginate @posts

:javascript
  $(document).ready( function() {
    $("#share-button").click (function() {
      window.href = $("#share-button").attr("href=posts/new");
    });
  })