- if @tag
  .container
    %h1.text-center= params[:name].capitalize
    .row
      .videobox.text-center
        .row
          %small.visible-md.visible-lg
            = params[:name].capitalize 
            Playlist
        %iframe.visible-md.visible-lg{ allowFullScreen: "true", allowscriptaccess: "always", frameborder: "0", src: "http://www.youtube.com/embed/#{@playlist}", title: "YouTube video player" }
        .row
          %h4.tagbox
            %a.visible-xs.visible-sm{href: "youtube://www.youtube.com/watch?v=#{@playlistlink}"} Open #{params[:name].capitalize} Playlist in YouTube App
          %div
            = link_to "Extra Playlists", extras_path
    .row
      .text-center.formbox
        = link_to "Share Track", new_post_path, class: "margin-space btn btn-success btn-lg btn-block", id: "share-button"
      .text-center.formbox
        %h4 Community Submissions
    = render @posts
    .text-center
      = will_paginate @posts

:javascript
  $(document).ready( function() {
    $("#share-button").click (function() {
      window.href = $("#share-button").attr("href=posts/new");
    });
  })