.container
  %h1.text-center New Post
  .formbox
    %p.text-center
      Paste an individual YouTube URL for the track you'd like to share (<em>Soundtracks only please</em>) and add tags from <em>only</em> the three menus below.
    = form_for @post, html: {class: "form"} do |f|
      - if @post.errors.any?
        .alert.alert-block
          %h4
            Found #{pluralize(@post.errors.count, "error")}.
          %ul
            - @post.errors.full_messages.each do |msg|
              %li= msg
      = control_group_tag(@post.errors[:url]) do
        .row
          .form-group
            = f.text_field :url, :autofocus => true, class: "form-control input-lg", placeholder: "YouTube URL"
      = control_group_tag(@post.errors[:tag_list]) do
        .row
          .form-group
            = f.text_area :tag_list, class: "form-control input-lg", placeholder: "Tags (Comma-separated)", rows: 1
      .row
        .form-group
          = f.submit "Save", class: 'btn btn-block btn-large btn-info margin-bottom-2'
  = render "tagmenu"